@import './css/base.css'

@font-face
  font-family 'iconfont' /* project id 646398 */
  src url('//at.alicdn.com/t/font_646398_v1ayx88q04.eot')
  src url('//at.alicdn.com/t/font_646398_v1ayx88q04.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_646398_v1ayx88q04.woff2') format('woff2'), url('//at.alicdn.com/t/font_646398_v1ayx88q04.woff') format('woff'), url('//at.alicdn.com/t/font_646398_v1ayx88q04.ttf') format('truetype'), url('//at.alicdn.com/t/font_646398_v1ayx88q04.svg#iconfont') format('svg')

.iconfont
  font-family 'iconfont' !important
  font-size 16px
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
body 
  overflow-x hidden